body {
  background: url('../assets/charzard.gif');
  background-size: cover;
}

.player {
  height: 80px;
  width: 70px;

  bottom: 5px;
  background-color: orange;
  background-image: url('../assets/stick2.png');
  background-size: cover;
  position: absolute;
}
