body {
  background: url('../assets/charzard.gif');
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.player {
  width: 60px;
  height: 60px;
  bottom: 5px;
  background-image: url('../assets/trainer.png');
  background-size: cover;
  position: absolute;
  transition-timing-function: linear;
}

.flex-container {
  width: 100%;
  height: 300px;
  background-color: rgba(211, 211, 211, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px;
}

.flex-item {
  font-size: 6em;
  color: purple;
  display: flex;
  justify-content: center;
}

.start-over {
  border: 2px solid black;
  box-sizing: border-box;
  padding: 10px;
  font-size: 36px;
  width: 250px;
  position: absolute;
  margin-top: -80px;
}

a {
  text-decoration: none;
}

.timer {
  min-width: 200px;
  max-width: 300px;
  height: 50px;
  background-color: yellow;
  opacity: .8;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 36px;
}

.caught {
  background-image: url('../assets/pokeball.gif');
  background-size: cover;
}
