body {
  background: url('../assets/charzard.gif');
  background-size: cover;
  text-align: center;
}

.player {
  width: 60px;
  height: 60px;

  bottom: 5px;
  /*background-color: purple;*/
  background-image: url('../assets/trainer.png');
  background-size: cover;
  position: absolute;
}
